<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
@{
  
}
<body>
  <strong>
    Logs are 
    @foreach (dynamic f in @Model) {
      try
      {
        <div>Log file <a href="logs/@f.Name">@f.Name</a></div>
      }
      catch (Exception ex)
      {
        <p>Error @ex.Message</p>
      }
    }
  </strong>
</body>
</html>