<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
@{
  
}
<body>
  <strong>
    All your logs at @Model[0]
    @foreach(var f in @Model)
    {
      
    }
  </strong>
</body>
</html>