<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ETM ETM ETM</title>
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required:false)
</head>
<body>
  @try{ 
    @RenderBody()
  }
  catch (Exception ex)
  {
    <p>Error @ex.Message</p>
  }
  
</body>
</html>