@section styles {
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
}

@section scripts {
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
}

<form method="post">
  Make changes and click on save
  <pre contenteditable="true" spellcheck="false">
  <code>
@Model
  </code>
  </pre>
  <input type="submit" value="Save"/>
</form>


