  <strong>
    Logs are 
    @foreach (dynamic f in @Model) {
      try
      {
        <div>Log file <a href="@f.Type/@f.Name">@f.Name</a></div>
      }
      catch (Exception ex)
      {
        <p>Error @ex.Message</p>
      }
    }
  </strong>